<div class="container">
  <h1>Search tags</h1>
  <form submit="" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" name="tag" placeholder="type any tag name" autofocus>
    </div>
    <input type="submit" value="search" class="btn btn-success">
  </form>
  <hr>
  <div class="row">
    <%= @ig_tags.each do |ig| %>
      <div class="col-md-3 col-sm-4 ">
        <div class="thumbnail">
          <%= image_tag ig["images"]["thumbnail"]["url"] %> 
          <p>User: @<%= ig["user"]["username"] %></p>
          <p>Likes: <%= ig["likes"]["count"] %></p>
        </div>
      </div>

    <% end %>
  
</div>  
